<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="MEAPSDbEntities" connectionString="metadata=res://*/MEAPSDb.csdl|res://*/MEAPSDb.ssdl|res://*/MEAPSDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Carrizo;initial catalog=MEAPSDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>